.background-contact {
    background-image: url("/public/img/background-contact2.jpg");
    padding: 60px 20px;
    text-align: center;
}

.contact-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

.contact-text p {
    font-size: 1.2rem;
    color: #555;
}

/* Estilos para el formulario */
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 1.1rem;
    color: #333;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: #007BFF;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

.submit-btn {
    background-color: #007BFF;
    color: white;
    font-size: 1.2rem;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* Estilos para las redes sociales */
.media-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    
}
.media-container a{
    text-decoration: none;
    color: inherit;
}

.media-card {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    color: #333;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    width: 220px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.media-card:hover {
    background-color: #007BFF;
    color: white;
}

/* Aumenta el tamaño de los íconos */
.media-card svg {
    font-size: 1.5rem;
}
